* {
    margin: 0;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: gray;

}

.container {
    margin: 0;
    padding: 0;
    height: 640px;
    width: 640px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    


}

.grid {
    background-color: white;

}

.default {
    background-color: black;
}

.White {
    background-color: white;
}

.Blue {
    background-color: blue;
    
}

.Black {
    background-color: black;
    color: white;
}

.create {
    height: 200px;
    width: 300px;
    font-size: 24px;
    font-weight: 800;
}

.Green {
    background-color: green;
}

.Yellow {
    background-color: yellow;
}

.Red {
    background-color: red;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
}

.slider {

}

.info {
    font-size: 30px;
    text-align: center;
}

.colours {
    display: flex;
    justify-content: space-between;
}